/* class için .isim{}
id için #id-bilgisi{} */

h1,h2,h3,h4,h5,h6{
        color: rgb(181, 95, 181);
}
h1{
    font-size: 30px;

}
p{font-size: 20px;}
  
#first-article {
    color :blue
}
.text-red {
    color: red;
}
.fs-15 {
    font-size: 15px;
}
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}

.color-pink.fw-normal{
    color: pink;
    font-weight: normal;
    /* ikisini de kullanmak zorundasın */
}

.color-violet .fw-bold{
    color: violet;
    font-weight: bold;
}
li:nth-child(odd){
    color: slateblue;
}
li:nth-child(even){
    background-color: bisque;
}
li:first-child{
    color: green;
}
li:last-child{
    color:brown;
}
li:nth-child(3){

    color:coral;
}
li:nth-child(3n+1){
    font-style:italic;
}
a.open:link{
    /* Daha önce Açılmamış link farklı bu renkte gözüküyr */
    color: brown;
}
a.test:hover{
    /* Üzerine gelince renk değiştiriyor */
    color:teal
}
